/* The main stylesheet */

/* Page header section */

/* Main article */

article {
  width:90%;
  margin-left:5%;
}

/* Reviews section */

.img-face {
  width: 100px;
  height: 100px;
  margin: 10px;
}

figure {
  float:left;
}

p.name {
  padding: 10px;
  margin-left: 50px;
}

/* Ads section */

section.partners>div.container {
  text-align: center;
}

.img-partners {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  margin: 0 50px 0 50px;
  width: 150px;
  height: auto;
}

.img-partners:hover {
  -webkit-filter: none;
  filter: none;
}

/* Page footer section */

footer#footer-page {
  margin-top: 5px;
  padding-top: 20px;
  background-color: #767676;
}

section#copyrigth {
  padding-top:10 0 0 0;
  text-align: center;
}

footer#footer-page div.wrapper {
  background-color: #eee;
}
